body {
    margin: 0;
    overflow-x: hidden;
}


html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
    /* outline: 1px solid red */
}


form {
    display: flex;
    flex-flow: column;
    width: 50%;
    margin: 2em auto 0 auto;
}

form input, select, button, label {
    margin-top: 1em
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');




.transition-wrapper {
	-webkit-transition: opacity 200ms 0ms ease-in;
	-moz-transition: opacity 200ms 0ms ease-in;
	-ms-transition: opacity 200ms 0ms ease-in;
	-o-transition: opacity 200ms 0ms ease-in;
	transition: opacity 200ms 0ms ease-in;
    opacity: 0;
}

.show {
    opacity: 1;
}


.material-icons {
    color: rgba(0, 0, 0, 0.56);
    font-size: 1.6;
}


.material-icons.blue { color: #188be7; }
.material-icons.red { color: #d82731; }
.material-icons.purple { color: #a230cf; }



.navbar {
    background-color: rgba(18, 18, 18, 1);
    height: 100px;
    width: 100%;
    display: flex; 
}

.navbar h1 {
    display: block;
    color: white;
    margin: 0 0 0 20px ;
    padding-top: 20px;
    font-size: 48px;
    
}

.navbar button {
    margin-left: auto;
    margin-right: 20px;
    width: 100px;
}

.time {
    color: white;
    margin: 20px 10px 0px auto;
}

.sidebar-container {
    height: 100vh;
    width: 400px;
    outline: 1px solid red;
    position: absolute;
    display: flex;
    flex-flow: column;
}

.sidebar-items {
    width: 20rem;
    height: auto;
    font-size: 1.8rem;
    padding-left: 0.4em;
    margin: 1.1em 0em 0em 1.5em;
    font-family: 'Raleway', sans-serif;
}


.sidebar-items:hover {
    cursor: pointer;
    background-color: rgba(219, 224, 224, 0.973);
    border-radius: 20px;
}

.tab-active {
    font-weight: 800;
}

.project-header {
    width: 20rem;
    height: auto;
    font-size: 1.8rem;
    font-weight: 600;
    padding-left: 0.4em;
    margin: 2em 0em 0em 1.5em;
    font-family: 'Raleway', sans-serif;
}

.projects {
    font-size: 32px;
    font-weight: 100;
    margin: 20px 0px 0px 40px;
}

.add-project {
    width: 50%;
    margin: 1.5em auto 0px auto;
    
}

.main {
    outline: 1px solid red;
    width: 1200px;
    height: 100vh;
    margin-left: 400px;
}

.list {
    outline: 1px solid red;
}

.task-list {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    position: relative;
}

.complete {
    background-color: green;
}

/* INBOX */

.title {
    font-size: 64px;
    margin: 0px 0px 10px 48px;
    padding-top: 48px;
}

.notes {
    position: absolute;
    right: 0;
    top: 500px;
    background-color: green;
    width: 300px;
    height: 300px;
}


.sidebar-project {
    display: flex;
    flex-flow: row nowrap;
    width: 15rem;
    height: 3rem;
    margin: 0.8em 0em 0em 1.5em;
    align-items: center;
    position: relative;
}

.sidebar-item-name {
    font-size: 1.2rem;
    width: 12rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu {
    cursor: pointer;
    margin: 0;
    right: 0px;
    position: absolute;
}

.menu-dropdown {
   display: none;
}


.menu-dropdown.active {
    display: flex;
    flex-flow: column;
    margin: -1.0em 0em 0em 1.4em;
    position: absolute;
  }

